*{
    margin: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
.website_name{
    color: #131318;
    font-size: 1.9rem;
    font-weight: 800;
}
.website_name > span{
    color: #FF5400;
}
/* Footer Section */
footer{
    background-color: rgba(19, 19, 24, 0.05);
}
.footer_container{
    max-width: 900px;
    margin: 0 auto;
    padding: 110px 0;

}
.footer_title{
    display: flex;
    max-width: 320px;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
}
.footer_details{
    max-width: 800px;
    margin: 15px auto 33px;
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.social_icon{
    display: flex;
    justify-content: center;
    gap: 18px;
}
.footer_container > hr{
    max-width: 890px;
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 50px auto;
}
.footer_copywrite{
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .website_name{
        font-size: 1.4rem;
    }
}