*{
    margin: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
.website_title{
    display: flex;
    gap: 1rem;
}
.website_name{
    color: #131318;
    font-size: 1.9rem;
    font-weight: 800;
}
.website_name > span{
    color: #FF5400;
}
button{
    color: #FFF;
    background-color: #FF5400;
    border: 0;
    border-radius: 8px;
}
/* Header Section */
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 90px auto 50px;
}
.nav_site_name{
    max-width: 340px;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav li >a{
    color: black;
    text-decoration: none;
    margin-left: 44px;
    font-size: 1.2rem;
    font-weight: 400;
}
nav li >a:hover{
    color: #FF5400;
}
/* Banner */
.banner{
    max-width: 1170px;
    margin: 0 auto 100px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../assets/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    padding: 106px 0;
}
.banner h2{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}
.banner_description{
    max-width: 680px;
    margin: 24px auto 48px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; 
}
.banner_input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.input_box{
    width: 174px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 0 16px;
}
.input_box > ::placeholder{
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.button_style{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    width: 174px;
    height: 50px;
}
.button_style > i{
    margin-right: 10px;
}
/* <------------ Main Section ------------> */
/* Popular Tour */
.popular_tour_container{
    max-width: 1170px;
    margin: 0 auto 100px;
    display: flex;
    gap: 50px;
}
.description_container > h2{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.description_container p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 1.5rem 0 0.5rem;
}
.description_container li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}
#description{
    width: 530px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: .5rem 0 2rem;
}
.description_button{
    width: 174px;
    height: 50px;
}
/* Destination */
.Destination_container{
    max-width: 1170px;
    margin: 0 auto 100px;
}
.destination_title{
    width: 650px;
    margin: 0 auto;
}
.destination_title h2{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.destination_title p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 1.5rem 0 3rem;
}
.destination_img_row{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
/* Choose Us */
.choose_container{
    max-width: 1170px;
    margin: 0 auto 100px;
}
.choose_title{
    width: 650px;
    margin: 0 auto;
}
.choose_title h2{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.choose_title p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 1.5rem 0;
}
.choose_service_container{
    display: flex;
    gap: 24px;
    margin: 1.5rem 0;
}
.choose_service{
    width: 573px;
    padding: 2rem;
}
.choose_service h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem 0 1rem;
}
.choose_service p{
    color: #5A5A5D;
    width: 486px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.hotel{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.map{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price_tag{
    max-width: 573px;
    padding: 2rem 0 2rem 2rem;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
.price_tag h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem 0 1rem;
}
.price_tag p{
    color: #5A5A5D;
    width: 486px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
/* Newsletter */
.newsletter_container{
    max-width: 1170px;
    margin: 0 auto 100px;
    display: flex;
    gap: 28px;
}
.newsletter{
    max-width: 420px;
    padding: 26px;
    border-radius: 1rem;
    border: 1px solid #FF5400;
}
.newsletter_input >h2{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0.75rem;
}
.newsletter_input >p{
    width: 350px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 1rem 0 1.5rem;
}
.newsletter_input >hr{
    height: .1rem;
    background: rgba(19, 19, 24, 0.10);
    border: 0;
    margin-bottom: 1.5rem;
}
.newsletter_style {
    width: 400px;
    height: 50px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    padding-left: 1rem;
}
.gap{
    margin: 1rem 0 1.5rem;
}
.newsletter_btn{
    width: 420px;
    height: 50px;
}
.newsletter_img{
    width: 660px;
    border-radius: 16px;
    background-image: url(../assets/Rectangle\ 8\ \(1\).png);
}
.discount_container{
    border-radius: 1rem;
    width: 324px;
    padding: 35px 0;
    transform: rotate(-19.628deg);
    background: #FF5400;
    position: right;
}
.discount_container >h4{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.discount_container >h2{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
/* Footer Section */
footer{
    background-color: rgba(19, 19, 24, 0.05);
}
.footer_container{
    max-width: 900px;
    margin: 0 auto;
    padding: 110px 0;

}
.footer_title{
    display: flex;
    max-width: 320px;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}
.footer_details{
    max-width: 800px;
    margin: 15px auto 33px;
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.social_icon{
    display: flex;
    justify-content: center;
    gap: 18px;
}
.footer_container > hr{
    max-width: 890px;
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 50px auto;
}
.footer_copy_write{
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .website_name{
        font-size: 1.4rem;
    }
    /* footer section */
    .footer_container{
        max-width: 500px;
    }
    .footer_title{
        max-width: 280px;
    }
    .footer_details{
        max-width: 430px;
    }
    .footer_container > hr{
        max-width: 590px;
        margin: 30px auto;
    }
}